<h2 class="mt-5">Thông tin sản phẩm</h2>
<table class=" table table-bordered table-striped table-responsive-xxl">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">name</th>
            <th scope="col">price</th>
            <th scope="col">description</th>
            <th scope="col">image</th>
            <th scope="col">Thao tác</th>

        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of productss
        ;index as i">
            <td>{{i+1}}</td>
            <td> {{item.name}}</td>
            <td>{{item.price}}</td>
            <td> {{item.description}}</td>
            <td><img width=" 100px" src="{{item.image}}" alt="">
            </td>
            <td>
                <button class="btn btn-primary" (click)="deleteProducts(item._id)">Xóa</button>
                <a [href]="" class="btn btn-primary ms-1">update</a>
            </td>
        </tr>
    </tbody>
</table>